/* In your main CSS file (globals.css) */
@import "tailwindcss";

:root {
  --color-primary-1: #000000;
  --color-blue: #377DFF;
  --color-green: #38CB89;
  --color-orange: #FFAB00;
  --color-red: #FF5630;
  --color-neutral-07: #141718;
  --color-neutral-06: #232627;
  --color-neutral-05: #343839;
  --color-neutral-04: #6C7275;
  --color-neutral-03: #E8ECEF;
  --color-neutral-02: #F3F5F7;
  --color-neutral-01: #FEFEFE;
}
